.chat-content{
      z-index: 1;
      position: fixed;
      bottom: -4px;
      right: 320px;
    }
    #chat-list-contain{
      height: 200px;
      overflow: auto;
    }













a { text-decoration: none; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

h4, h5 {
    line-height: 1.5em;
    margin: 0;
}

hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

/*img {
    border: 0;
    display: block;
    height: auto;
    max-width: 400%;
}*/

input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both;}


#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 30px;
    position: fixed;
    width: 300px;
}

#live-chat header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    font-size: 12px;
}

#live-chat h5 {
    font-size: 10px;
}

#live-chat form {
    padding: 24px;
}

#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 250px;
}

.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat {
    background: #fff;
}

.chat-history {
    height: 200px;
    padding: 8px 20px;
    overflow-y: scroll;
}

.chat-message {
    margin: 16px 0;
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat-message-content {
    margin-left: 56px;
}

.chat-time {
    float: right;
    font-size: 10px;
}

.chat-feedback {
    font-style: italic; 
    margin: 0 0 0 80px;
}
#m{
  width: 500%;
}
#messages{
  overflow-x: hidden;
  overflow-y: scroll;
}




#live-chat2 {
    bottom: 0;
    font-size: 12px;
    right: 350px;
    position: fixed;
    width: 300px;
}

#live-chat2 header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat2 h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat2 h4 {
    font-size: 12px;
}

#live-chat2 h5 {
    font-size: 10px;
}

#live-chat2 form {
    padding: 24px;
}

#live-chat2 input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 250px;
}
.chat-close2 {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}



#live-chat3 {
    bottom: 0;
    font-size: 12px;
    right: 670px;
    position: fixed;
    width: 300px;
}

#live-chat3 header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat3 h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat3 h4 {
    font-size: 12px;
}

#live-chat3 h5 {
    font-size: 10px;
}

#live-chat3 form {
    padding: 24px;
}

#live-chat3 input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 250px;
}
.chat-close3 {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}














#foo {
    position: fixed;
    bottom: 0;
    right: 50px;
    height: 300px;
    width: 250px;
/*    background: red;*/
}

/*.arrow-right {
    border-radius: 2px;
    background-color: #dfe3ee;
    width: auto;

}*/




.arrow-right{
    height:auto;
    background:#cccccc;
    color:black;
    position:relative;
    width:120px;
    text-align:center;
    margin-top: 5px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
}
.arrow-right:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:98%;
    top:10%;
    border:8px solid transparent;

    border-left: 10px solid #cccccc;
}

.arrow-left{
    float: right;
    height:auto;
    background:#cccccc;
    color:black;
    position:relative;
    width:120px;
    text-align:center;
    margin-top: 5px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
}
.arrow-left:after{
     content:"";
    position:absolute;
    height:0;
    width:0;
    right:98%;
    top:10%;
    border:8px solid transparent;
    border-right: 10px solid #cccccc;


}
.con{
    /*clear: both;*/
    clear: left;
    margin-bottom: 10px;
}
/*#head{
    position: fixed;
     bottom: 0;
     right: 0;
}*/














@media only screen and (max-width : 540px) 
            {
                .chat-sidebar
                {
                    display: none !important;
                }
                
                .chat-popup
                {
                    display: none !important;
                }
            }
            
            body
            {
                background-color: #e9eaed;
            }
            
            .chat-sidebar
            {
                width: 200px;
                position: fixed;
                height: 100%;
                right: 0px;
                top: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .sidebar-name 
            {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 4px;
                font-size: 12px;
            }
            
            .sidebar-name span
            {
                padding-left: 5px;
            }
            
            .sidebar-name a
            {
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
            
            .sidebar-name:hover
            {
                background-color:#e1e2e5;
            }
            
            .sidebar-name img
            {
                width: 32px;
                height: 32px;
                vertical-align:middle;
            }
            
            .popup-box
            {
                /*display: none;*/
                display: block;
                position: fixed;
                bottom: 0px;
                right: 220px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .popup-box .popup-head
            {
                background-color: #595959;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                /*background-color: red;*/

                height: 70%;
                overflow-y: scroll;
                padding-top: 5px;
                padding-left: 5px;
            }
            
            #carbonads { 
                max-width: 300px; 
                background: #f8f8f8;
            }

            .carbon-text { 
                display: block; 
                width: 130px; 
            }

            .carbon-poweredby { 
                float: right; 
            }
            .carbon-text {
                padding: 8px 0; 
            }

            #carbonads { 
                padding: 15px;
                border: 1px solid #ccc; 
            }

            .carbon-text {
                font-size: 12px;
                color: #333333;
                text-decoration: none;
            }


            .carbon-poweredby {
                font-size: 75%;
                text-decoration: none;
            }

            #carbonads { 
                position: fixed; 
                top: 5px;
                left: 5px;
            }


            .text{
                width: 100%;
                height: 55px;
                resize: none;
            }

/*.message{
    height:40px;
    background:red;
    color:#fff;
    position:relative;
    width:200px;
    text-align:center;
    line-height:40px;
}
.message:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:0;
    border:20px solid transparent;
    border-left: 20px solid red;
}


.message{
    height:40px;
    background:red;
    color:#fff;
    position:relative;
    width:200px;
    text-align:center;
    line-height:40px;
}
.message:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:0;
    border:20px solid transparent;
    border-left: 20px solid red;
}*/



