/*.content {
    margin-top: 150px;
    background-color: #a9a8a8;
    min-height: 5500px;
}
.container {
    background-color: #f2f2f2;
}
.sidebar-outer {
    margin-top: 150px;
    position: relative;
}
.fixed {
    position: fixed;
}
#body{
	z-index: -1;
}*/
#left{
	/*background-color: green;*/

}
#center{
/*	background-color: yellow;*/
}

#right{
/*	background-color: black;*/

}

#chat-container{
  padding-right: 20px;
}

.chat{
    background-color:   #f7f7f7;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.chat-list {
  width: 100%;
  height: 300px;
  
   
    right: 30px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}



.list{
  margin-left: -30px;
}

.dot{
  color: gray;
  margin-right: 10px;
}






/*body {
  background-color: #DDD;
  padding: 2rem;
}*/

h1 {
  color: #444;
  text-align: center;
  text-shadow: 1px 1px #FFF;
}

#new_status {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 1px 0 10px #AAA;
  font-family: 'Helvetica Neaue', 'Helvetica', sans-serif;
  margin-top: 1rem;
  padding: 0;
}

#post_header {
  border-bottom: solid #E8E8E8 1px;
  margin: 0 2%;
  padding: 0.65rem 0;
  width: 95.75%;
}
#post_header li {
  display: inline-block;
}
#post_header a {
  font-size: 1.2rem;
  padding: 1rem 0;
  text-decoration: none;
}
#post_header li+li {
  border-left: solid #E8E8E8 1px;
}
#post_header li:first-child a {
  padding: 0 1rem 0 0;
}
#post_header li:nth-child(2) a {
  padding: 0 1rem;
}
#post_header li:last-child a {
  padding: 0 0 0 1rem;
}
#post_header .glyphicon {
  margin-right: 0.5rem;
}

#post_content {
  margin: 0 2%;
  padding: 0;
  width: 95.75%;
}
#post_content img {
  border: solid #DDD 1px;
  margin: 1.25rem 0;
  padding: 0;
}
#post_content .textarea_wrap {
  cursor: text;
}
#post_content textarea {
  border: 0;
  margin: 0rem 0 0.5rem 0;
  outline: 0;
  padding: 2.5rem 0 0 1.25rem;
  resize: none;
}

#post_footer {
  border-top: solid #E8E8E8 1px;
  line-height: 3rem;
  padding: 0 2% 0 3%;
}
#post_footer .navbar-nav {
  padding: 0;
}
#post_footer .navbar-nav li {
  display: inline-block;
}
#post_footer .navbar-nav a {
  display: block;
  padding: 2rem 1.25rem 2.2rem 1.25rem;
}
#post_footer .navbar-nav .glyphicon {
  line-height: 0;
}
#post_footer :not(.btn) .glyphicon {
  color: #999;
}
#post_footer div {
  padding: 0;
  text-align: right;
}
#post_footer .btn {
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin-top: 0.75rem;
  padding: 0 0.75rem;
  vertical-align: middle;
}
#post_footer .btn-default {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .btn-default .glyphicon {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .caret {
  color: #666;
  margin-left: 0.5rem;
}
#post_footer .btn-primary {
  background-color: #4e69a2;
  padding: 0 2rem;
}











.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}







.posted-pic{
  width: 100%;
  height: auto;
}




#photo-upload:hover{
  background-color: #dfe3ee;
  color: blue;

}




.container-myOwn {


    /*text-align: center;*/
    color: white;
}
.top-right {

    position: absolute;
    top: 25px;
    left: 105px;
}

