body {
 /* 	min-height: 2000px;*/
}
#body{
	padding-top: 70px;
}
#myNavBar{
	/*background:#3b5998 !important;*/
  background: #4d4d4d !important;
}
.nav-text{
	color: white;
}
.nav-text-b{
	color: black;
}
#myCon{
	background-color: #3b5998;
	border-radius: 10px;
}
.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color:  #6d84b4;
   border-color: #fff;
   border-radius: 5px 20px 5px;
}
.collapse .nav > li > a:hover,
.collapse .nav > li.dropdown.open.active > a:hover,
.collapse .nav > li.dropdown.open > a
{
   color:#6d84b4 ;
   background-color:  #6d84b4;
   border-color: #6d84b4;
   border-radius: 5px 20px 5px;
}

/*#friend-request{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}*/
/*#navbar.navbar-collapse.collapse.in::before{
	width: 500px;
}*/
@media(min-width: 992px){
	#show{
		display: none;
	}
}


@media (max-width: 992px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;

  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;

  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}




