
#body{
    margin-top: -50px;
}
#left{
    /*background-color: red;*/


}
#center{
/*    background-color: green ;*/
    margin-left: 20px;
}
#right{
/*    background-color: blue;*/
    padding-right: 10px;
}
#follow{
    margin-left: 140px;
}
#dp{

	height: 100%;
	width:  100%;
}
.dp-container{
	height: 150px;
	width: 150px;
}
#wall-profile{
	min-width: 708px;
}
#wallpaper{
	height: 400px;
	width: 100%;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile {
    margin: -150px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media only screen and (max-width: 1200px){
    .fb-image-profile
    {
        margin: -110px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}


@media only screen and (max-width:1000px) {
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:20px;
}

.fb-image-profile
{
    margin: -67px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}







/* UPDATE STATUS BOX*/
/*
body {

  padding: 2rem;
}*/

/*h1 {
  color: #444;
  text-align: center;
  text-shadow: 1px 1px #FFF;
}
*/
#new_status {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 1px 0 10px #AAA;
  font-family: 'Helvetica Neaue', 'Helvetica', sans-serif;
  margin-top: 1rem;
  padding: 0;
}

#post_header {
  border-bottom: solid #E8E8E8 1px;
  margin: 0 2%;
  padding: 0.65rem 0;
  width: 95.75%;
}
#post_header li {
  display: inline-block;
}
#post_header a {
  font-size: 1.2rem;
  padding: 1rem 0;
  text-decoration: none;
}
#post_header li+li {
  border-left: solid #E8E8E8 1px;
}
#post_header li:first-child a {
  padding: 0 1rem 0 0;
}
#post_header li:nth-child(2) a {
  padding: 0 1rem;
}
#post_header li:last-child a {
  padding: 0 0 0 1rem;
}
#post_header .glyphicon {
  margin-right: 0.5rem;
}

#post_content {
  margin: 0 2%;
  padding: 0;
  width: 95.75%;
}
#post_content img {
  border: solid #DDD 1px;
  margin: 1.25rem 0;
  padding: 0;
}
#post_content .textarea_wrap {
  cursor: text;
}
#post_content textarea {
  border: 0;
  margin: 0rem 0 0.5rem 0;
  outline: 0;
  padding: 2.5rem 0 0 1.25rem;
  resize: none;
}

#post_footer {
  border-top: solid #E8E8E8 1px;
  line-height: 3rem;
  padding: 0 2% 0 3%;
}
#post_footer .navbar-nav {
  padding: 0;
}
#post_footer .navbar-nav li {
  display: inline-block;
}
#post_footer .navbar-nav a {
  display: block;
  padding: 2rem 1.25rem 2.2rem 1.25rem;
}
#post_footer .navbar-nav .glyphicon {
  line-height: 0;
}
#post_footer :not(.btn) .glyphicon {
  color: #999;
}
#post_footer div {
  padding: 0;
  text-align: right;
}
#post_footer .btn {
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin-top: 0.75rem;
  padding: 0 0.75rem;
  vertical-align: middle;
}
#post_footer .btn-default {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .btn-default .glyphicon {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .caret {
  color: #666;
  margin-left: 0.5rem;
}
#post_footer .btn-primary {
  background-color: #4e69a2;
  padding: 0 2rem;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

