.navbar{
	background: #3b5998 !important;
	height: 66px  !important;
	padding-top: 2px !important;
	border-bottom: 1.3px solid #333;
}


#bs-example-navbar-collapse-1{
	background: #3b5998 !important;
}
.navbar a {
 color: #fff !important;
}

.btn-search{
	margin-left: -2em;

}

.input-search{
	width: 520px !important;
	height: 34px;
	margin-left: -2.2rem !important;
	font-weight: 350 !important;
	color: #333;
}
.settings-drop li a {
	color: #000 !important;
	font-weight: bold;

}
.nav-icons a{
	color: #17233d !important;
}
.nav-icons span{
	display: none;
}
.logo{
	margin-top: -1px !important;
}
.nav-dp{
	width: 32px; 
/*	border: 1px solid #333;*/
}
.dp-name{
	margin-top: -5px !important;
}
.dp-name span{
	font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1320px){
	.input-search{
	width: 240px !important;
	}


}
@media screen and (min-width: 200px) and (max-width: 768px){
	

	.navbar .navbar-left {
		display: none !important;
	}
	.nav-icons span{
		display: inline;
		color: #eee;
		font-weight: bold;
	}
	.settings-drop li a {
	color: #eee !important;
	}
	#profile img{

		width: 120px !important;
		height: 120px !important;
	}

}
#cover img{
	height: 450px;
	width: 100%;
	max-width: 120%;
	min-width: 1200px;
	min-height: 100px;
	max-height: 100%;

}
#profile img{
	border:solid;
	margin-left: 100px;
	margin-top: -100px;
	display: inline-block;

	
}
body{
	padding: 0;
	margin: 0;
	background-color:  #e9ebee !important;
}
.timeline-nav{
	background: #fff !important;
	margin-top: -5.5em;
	padding: 1rem;
	max-width: 120%;
	min-width: 1200px;
	min-height: 100px;
	max-height: 100%;
}
.timeline-nav .nav{
	margin-left: 29%;

	
}
#content{
	max-width: 120%;
	min-width: 1200px;
	min-height: 100px;
	max-height: 100%;
}


.sidecol {
    border:solid 2px black;
}

.center {
    border:solid 1px;
    overflow:scroll;
    height:580px; /* I WANT THIS TO BE IMPLIED RATHER THAN STATIC */
}
