 .chat{
      width: 200px;
    }
    .col-sm{
        background-color: red;
    }
    .col-fixed-240{
        margin-left:920px;
        width:240px;
        background:red;
        position:fixed;
        height:100%;
        z-index:-1;
    }

    .col-fixed-160{
       /* margin-left:415px;*/
        width:200px;
        background:blue;
        position:fixed;
        height:100%;
        z-index:1;
    }

    .col-offset-400{
        margin-left:250px;
        background-color: green;
        z-index:0;
    }
    .div-chat{
      right: 0;
      bottom: 20px;
      position: fixed;

    }
    #chat-button{
      width: 250px;
    }
  


/*    CHAT CSS */

/* ---------- LIVE-CHAT ---------- */

#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    position: fixed;
    width: 320px;
}

#live-chat header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    font-size: 12px;
}

#live-chat h5 {
    font-size: 10px;
}

#live-chat form {
    padding: 24px;
}

#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 250px;
}

.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat {
    background: #fff;
}

.chat-history {
    height: 200px;
    padding: 8px 20px;
    overflow-y: scroll;
}

.chat-message {
    margin: 16px 0;
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat-message-content {
    margin-left: 56px;
}

.chat-time {
    float: right;
    font-size: 10px;
}

.chat-feedback {
    font-style: italic; 
    margin: 0 0 0 80px;
}
/*#m{
    width: 500%;
}*/
#messages{
  overflow-x: hidden;
  overflow-y: scroll;
}

/*END OF CHAT CSSS*/
body{
    background-color: yellow;
}


.name{
     margin-left: 56px;
}
.chat-container{
    max-height: 500px;
    height: 300px;
    background-color: lightblue;
    overflow: auto;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
/*  display: inline-block;
*/
}
.myDot{
    float: right;
     display: inline-block;
     vertical-align: middle;
}

*{ box-sizing: border-box; }

.content-wrapper{
   display-table;
   max-width:120px;
}

.col{
   display:inline;
   vertical-align:middle;
   padding:5px;
}
.col-name{
    padding:5px;
}

.four{
 width: 33.33%
}
.con{
    width: 100%;
}
/*.note{
    float: right;
}*/

.wrap {
    width:100px;
    border:1px solid red;
    /*margin:10px;
*/}
.wrap:before {
    content:'';
    display:inline-block;
    height:50%;
    vertical-align:middle;
    margin-left:-0.25em; /* adjusts spacing */
}
p {
    display:inline-block;
    vertical-align:middle;
    width:350px;
}
.image-content{
    float:left;
    height: 35px;
    width: 35px;
}
img {
    
}

.invisible {
    height:100px;
    display:inline-block;
    vertical-align:middle;
}



.img-valign {
  vertical-align: middle;
  margin-bottom: 0.25em;
}

.text1 {
  font-size: 44px;
}

.text2 {
    margin-left: 5px;
  font-size: 15px;
}
.status{
    float: right;
    vertical-align: middle;
}
.col-pic{
    padding-left: 20px;
}
.col-status{
    float: right;
    width: 40px;
    height: 50px;
    position: absolute;
    right:0;
    top:12px;
}
.img-status{
    float: right;
    vertical-align: middle;
}
/*#online-user{
    height: 50px;
}*/
/*#online-user-row{
    height: 50px;
}*/