
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Social Network App">
    <meta name="author" content="Khert Geverola">

    <title>Home</title>


    <link href="bootstrapV3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/my-css/nav-bar.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/toaster-css/toastr.css" rel="stylesheet">


    
    
  </head>

  <body>

    <!-- Fixed navbar -->

    <nav class="navbar navbar-default navbar-fixed-top" id="myNavBar">
      <div class="container" id="nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#show" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: white;">Famchat</a>
        </div>

        

        <div class="navbar-collapse collapse" id="show">
          <ul class="nav navbar-nav">
           

            <li>
              <form class="navbar-form" role="search">
                <div class="input-group add-on" style="width: 350px;">
                  <input class="form-control" placeholder="Search"  name="srch-term" id="srch-term" type="text">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
              </form>
            </li>


          </ul>
          

          <ul class="nav navbar-nav navbar-right">

            <li>
              <a href="#">

                <!-- ****** USER PROFILE PICTURE ***** -->  

                <img src="http://kherts-crud.000webhostapp.com/bootstrap/pictures/Picture1.png" alt="DP" class="img-circle" height="25" width="25" > 

                <!-- ******** USER FULL NAME ********* -->

                <span class="nav-text" >&nbsp&nbsp&nbsp<span id="name"><%= firstname%></span> <%= lastname%></span>

              </a>
            </li>

            <!-- ********** FRIEND REQUEST ************* -->

            <li role="presentation" class="dropdown" >
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user nav-text"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
            </li>

             <!-- ************* MESSAGES *************** -->

            <li role="presentation" class="dropdown">
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-comment nav-text" ></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
            </li>

            <!-- ****************** NOTIFICATION ****************** -->

            <li role="presentation" class="dropdown">
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe nav-text" ></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
            </li>


            <!-- ************* LOG OUT ****************** -->

            <li role="presentation" class="dropdown">
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret nav-text" ></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
           

          </ul>
        </div><!--/.nav-collapse -->
      </div>
      
    </nav>
 



    <div class="container" id="body">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome <%= firstname%></h1>
        <h3 style="color: gray;">Setup your profile picture.</h3>
        <hr>
        <div class="row">

          <div class="col-sm-6" >
             <p>We are very grateful that you've sign in to our application. After signing in you need to choose your profile picture. There are two options below. If you click skip you're profile pic will be set to default user.</p>
              <p>Please choose your option below.</p>
            
            
               <!--  <button class="btn btn-lg btn-success" style="width: 48%;float: left;" onclick="send(this)" value="Submit"><strong>SUBMIT</strong></button>&nbsp -->
                 <button class="btn btn-lg btn-primary" href="" role="button" style="width: 48%;" onclick="go()" value="Skip >>"><strong>SKIP&raquo;</strong> </button>
           
          </div>

          <div class="col-sm-6">
            <br>
            <center>
                <div class="img-wrapper" style="height: 235px;width: 200px;">
                  

                     <img class="img-responsive" id="blah" src="http://placehold.it/200X200" height="200" width="200" style="margin-bottom: -35px;">
                     <div class="img-overlay">
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                         <label class="btn btn-danger" style="width: 100%;opacity: 0.5;background-color: gray;border: none;">
                            <span class="glyphicon glyphicon-camera"></span> Upload Image <input type="file" id="input-button" style="display: none;" name="photo" onchange="readURL(this);" >
                            <input type="hidden" name="backup" value="http://icons.iconarchive.com/icons/icons8/ios7/256/Users-User-Male-2-icon.png" >
                        </label>
                         <button class="btn btn-lg btn-success" id="submit" onclick="send(this)" style="margin-top: 10px;width: 100%;" value="Submit"><strong>SUBMIT</strong></button>
                      </form>
                     </div>
                </div>
            </center>
          
          </div>
        </div>
        <br>
        <div id="myDiv"></div>  
      
       
      </div>

       <footer>
        <small class="copyrights"> © Copyrights reserved  2018 KG-Company, Inc.</small>
      </footer>

    </div> <!-- /container -->
   

   
    
</body>
    <script src="bootstrapV3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrapV3.3.7/js/bootstrap.min.js"></script>
    <script src="bootstrapV3.3.7/toaster-js/toastr.js"></script>
    <script src="bootstrapV3.3.7/my-js/setProfile.js"></script>

</html>
