<!DOCTYPE html>
<html lang="en">
<head>
	<title>Famchat Nav Bar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bootstrap/css1/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="bootstrap/css1/index3.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css1/profile.css">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" >
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                  <a class="navbar-brand logo" href="#">FamChat</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" placeholder="Search" 
                      class="input-search">
                    </div>
                    <button type="submit" class="btn btn-default btn-search"><i class="glyphicon glyphicon-search"></i></button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dp-name"><a href="#"><img src="<%= avatar%>" class="img-circle nav-dp"> <span><%= username%></span></a></li>
                     <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-user"></i><span>Friends</span></a></li>
                       <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-inbox"></i><span>Messages</span></a></li>
                         <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-globe"></i><span>Notifications</span></a></li>

                     
                    <li class="dropdown nav-icons">
                      <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i><i class="glyphicon glyphicon-chevron-down"></i><span>More</span></a>
                      <ul class="dropdown-menu   settings-drop">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Manage Pages</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li role="separator" class="divider">
                        </li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
        </nav>



            <!-- cover photo -->
                    <div id = "cover">
                      <img src="bootstrap/picture/cover.png " class="img-responsive" >

                    </div>
                    <div id="profile"> 
                      <img src="bootstrap/picture/logo.png" class="img-responsive" alt="Cinque Terre">
                    </div>
          
                   
     <!-- TimeLine -->
              

     <div class = "timeline-nav">
        <div class= "nav nav-pills" >
       
          <li id = "upload"><label for="file">Change Profile Picture</label>     <input  type="file" name="pic" accept="image/*"></li>
          <li class="active" id = "time"><a href="">Timeline</a></li>
          <li ><a href="">About</a></li>
          <li><a href="">Friends<span class="label label-primary">26k</span></a></li>
          <li ><a href="">Photos</a></li> 
       <!--    <li ><a href="">More</a></li> -->
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Games</a></li>
              <li><a href="#">Movies</a></li>
              <li><a href="#">Books</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Languages</a></li>
              <li><a href="#">Interests</a></li> 
            </ul>
        </li>
        </div>

     </div>

     <!-- timeline -->


	<div class="container">

	  	<!-- <div class="row">
		  <div class="col-md-2">.col-md-4</div>
		  <div class="col-md-7">.col-md-4</div>
		  <div class="col-md-3">.col-md-4</div>
		</div> -->

    <div class="row content" >
           <!--  <div class="col-sm-2 sidenav" id="body-profile-content">
              <p><a href="#">Link</a></p>
              <p><a href="#">Link</a></p>
              <p><a href="#">Link</a></p>
            </div> -->
            <div class="col-sm-7 text-left" id="body-post"> 
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
            </div>
         <!--    <div class="col-sm-3 sidenav" id="body-right-side">
              <div class="well">
                <p>ADS</p>
              </div>
              <div class="well">
                <p>ADS</p>
              </div>
            </div> -->
	</div>
</body>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/holder.min.js"></script>
</html>