
     <div id="live-chat">
        
        <header class="clearfix" id="header" >
       <!--   <header class="clearfix" > -->
            <a href="#" class="chat-close">x</a>

            <!-- <h4 id="chat-name">Chat Hangouts </h4> -->
            <!-- <span id="user-name">Khert</span> -->
            <p id="user-name">Khert</p>

            <!-- <span class="chat-message-counter" id="counter">0</span> -->
        </header>
       <div class="chat" id="chats" >          
            <div class="chat-history" id="messages">
                
                <div class="chat-message clearfix">       
                    <img src="https://raw.githubusercontent.com/Infernus101/ProfileUI/0690f5e61a9f7af02c30342d4d6414a630de47fc/icon.png" alt="" width="32" height="32">
                    <div class="chat-message-content clearfix">                   
                        <span class="chat-time">13:35</span>
                        <h5>John Doe</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>
                    </div>
                </div> 
        
                <hr>
                <div class="chat-message clearfix">
                    <div class="chat-message-content clearfix">
                        <span class="chat-time">99:99</span>
                        <h5>Drone Admin</h5>
                        <p>Welcome !!!</p>
                    </div> 
                </div> 
                <hr>
                <div class="chat-message clearfix">
                    <div class="chat-message-content clearfix">
                        <span class="chat-time">99:99</span>
                        <h5>Drone Admin</h5>
                        <p>Welcome !!!</p>
                    </div> 
                </div> 
                <hr>
                <div class="chat-message clearfix">
                    <div class="chat-message-content clearfix">
                        <span class="chat-time">99:99</span>
                        <h5>Drone Admin</h5>
                        <p>Welcome !!!</p>
                    </div> 
                </div> 



            </div> <!-- end chat-history -->

           <!--  <p class="chat-feedback">Your partner is typing…</p> -->


           <!-- <form action="" >
           <div class="form-group">
         <input type="text" autofocus id="m" class="form-control" id="formGroupExampleInput" placeholder="Send text message…">
       </div>
      </form>
 -->
            <form action="" name="myForm">
                <fieldset>              
                    <input type="text" placeholder="Type your message…" autocomplete="off" name="mess" id="mess">
                    <input type="hidden">
                </fieldset>
            </form>
        </div> <!-- end chat -->
    </div> <!-- end live-chat -->
    