
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--  <meta http-equiv="refresh" content="1"> -->
    <meta name="description" content="Social Network App">
    <meta name="author" content="Khert Geverola">

    <title>Home</title>


    <link href="bootstrapV3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/my-css/nav-bar.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/my-css/home.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/my-css/chat.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/my-css/badge.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/toaster-css/toastr.css" rel="stylesheet">
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    
    
  </head>

  <body>

    <!-- Fixed navbar -->

    <nav class="navbar navbar-default navbar-fixed-top" id="myNavBar">

      <div class="container" id="nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#show" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home" style="color: white;">Famchat</a>
        </div>

        

        <div class="navbar-collapse collapse" id="show">
          <ul class="nav navbar-nav">
           

            <li>
              <form class="navbar-form" action="/profile" method="GET">
           <!--    <div style="margin-top: 10px;"> -->
                <div class="input-group add-on" style="width: 350px;">
                  <input class="form-control" placeholder="Search"  name="firstname" id="srch-term" type="text" onkeyup="suggest()">

                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
                <div id="livesearch" style="position: absolute;background-color:  #8b9dc3;width: 87%;z-index: 9;">
                  <ul id="myList">
                    <!-- <li>Khert</li>
                    <li>sdf</li>
                    <li>dsf</li>
                    <li>sdfs</li> -->
                  </ul>
                  
                </div>
            <!--   </div> -->
              </form>
            </li>


          </ul>
          

          <ul class="nav navbar-nav navbar-right">

            <li>
              <a href="/profile?firstname=<%= firstname%>">

                <!-- ****** USER PROFILE PICTURE ***** -->  

                <img src="<%= avatar%>" alt="DP" class="img-circle" height="25" width="25" id="own-dp" > 

                <!-- ******** USER FULL NAME ********* -->

                <span class="nav-text" id="own-name">&nbsp&nbsp&nbsp<%= firstname%> <%= lastname%></span>

              </a>
            </li>

            <!-- ********** FRIEND REQUEST ************* -->

            <li role="presentation" class="dropdown" >
                <a href="#" onclick="reset()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-user nav-text" id='badge-container'></span><span class="badge badge-notify" id="friendRequest-badge" style="visibility: hidden;">3</span></a>

                  <ul class="dropdown-menu" id="request-container" style="overflow-y: scroll;border-radius: 5px;width: 300px;max-height: 400px;">
                    <li id="lista" style="margin-top: 5px;margin-left: 5px;">FRIEND REQUEST</li>
                    <!-- <li id="lista" style="margin-top: 5px;margin-left: 20px;">
                      <div class="row" style="max-width: 250px;">
                        <a href="#">
                           <img src="<%= avatar%>" alt="DP" class="img-circle" height="25" width="25" >
                           <span class="nav-text" style="color: black;">&nbsp&nbsp&nbsp<%= firstname%> <%= lastname%></span>

                        </a>
                         <button class="btn btn-success" style="float: right;">Accept</button>
                       </div>

                    </li>
                    <li id="lista" style="margin-top: 5px;margin-left: 20px;">
                      <div class="row" style="max-width: 250px;">
                        <a href="#">
                           <img src="<%= avatar%>" alt="DP" class="img-circle" height="25" width="25" >
                           <span class="nav-text" style="color: black;">&nbsp&nbsp&nbspOlrigth oh ya</span>

                        </a>
                         <button class="btn btn-success" style='float: right;'>Accept</button>
                       </div>

                    </li> -->

                  
                </ul>
                  



     
                
            </li>

             <!-- ************* MESSAGES *************** -->

            <li role="presentation" class="dropdown">
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-comment nav-text" ></span><span class="badge badge-notify" id="message-badge" style="visibility: hidden;">3</span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
            </li>

             <!--  <i class="fas fa-comment"></i> -->
            <!-- ****************** NOTIFICATION ****************** -->

            <li role="presentation" class="dropdown">
                <a href="#" onclick="resetNotif()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe nav-text" id="notif-con"></span><span class="badge badge-notify" id="notification-badge" style="visibility: hidden;">3</span></a>
                <ul class="dropdown-menu" id="notification-list" style="max-height: 200px;overflow-y: scroll;">
                  
                  
                </ul>
            </li>


            <!-- ************* LOG OUT ****************** -->

            <li role="presentation" class="dropdown">
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret nav-text" ></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                   <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
           

          </ul>
        </div><!--/.nav-collapse -->


      </div>
      
    </nav>
   <!--  <div class="collapse" id="show" >
           <div style="width:250px; height:250px; background:red;"></div>
    </div> -->


    
    



    <div class="container" id="body">

       <div class="row">

        <div class="col-sm-2" id="left">
          <div class="sidebar-nav-fixed affix">
              <div class="card">
                       <p><a href="#"><img src="<%= avatar%>" width="50" height="50" class="img-circle dp-home"></a></p>
                       <p><%= firstname%> <%= lastname%></p>
                       <p>Edit Profile</p>
                       <p>View Friends</p>
                       <p>Photos</p>
              </div>
          </div>

        
        </div><!-- END OF LEFT DIV -->


        <div class="col-sm-7" id="center">
           <div class="row" id="new_status">
              <ul class="navbar-nav col-xs-12" id="post_header" role="navigation">
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Update Status</a></li>
                <li>

                </li>
                
              </ul>

              <div class="col-xs-12" id="post_content" style="height: 100px;">
                <div class="textarea_wrap">
                  <textarea class="col-xs-11" placeholder="What's on your mind?" id="post-content"></textarea>                
                 
                </div>

              </div>

              

              <div class="col-xs-12" id="post_footer" style="padding-bottom: 10px;">

                <ul class="navbar-nav col-xs-7">
                  <li>
                    <label class="btn " style="width: 100%;opacity: 0.5;border: none;" id="photo-upload">
                            <span class="glyphicon glyphicon-camera" id="photo-upload"></span> Add Photo <input type="file" id="photo" style="display: none;" name="photo" onchange="readURL(this);" >
                      
                        </label>
                  </li>
                 
                </ul>
                <div class="col-xs-5">
                  <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>Custom<span class="caret"></span></button>
                  <button class="btn btn-primary" onclick="saveMyPost()" id="button-post">Post</button>
                </div>
              </div>
            </div>

          <div id="all-post">

        <br>

     

        <% for(var i=postDatas.length-1; i >= 0 ; i--) { %>

        <div class="row">
            <div class="panel panel-white post panel-shadow">

                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="<%= postDatas[i].poster_avatar %>" class="img-circle avatar" alt="user profile image">
                    </div>

                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="/profile?firstname=<%= postDatas[i].poster_fname %>"><b><%= postDatas[i].poster_fname %> <%= postDatas[i].poster_lname %></b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">a minute ago</h6>
                    </div>
                </div> 

                <div class="post-description"> 

                    
                    <% if(postDatas[i].picture  ==  'no pic'){ %>

                        <p><h2><%= postDatas[i].description %></h2> </p>

                    <% } else{ %>

                         <p><%= postDatas[i].description %></p>
                        <img src="<%= postDatas[i].picture %>" height="200" width="300" class="posted-pic">

                    <% } %>
                    <hr>
                    <div class="stats">



                        <% if(postDatas[i].poster_like  ==  undefined || postDatas[i].poster_like == null || postDatas[i].poster_like.length == 0){ %>

                          <a onclick="like('<%= postDatas[i].poster_ID %>')" class="btn btn-default stat-item" id="like-<%= postDatas[i].poster_ID %>">
                              <i class="fa fa-thumbs-up icon"></i>
                          </a>

                         <% } else{ %>

                            <% if( postDatas[i].poster_like.length == 0){ %>
                               <a onclick="like('<%= postDatas[i].poster_ID %>')" class="btn btn-default stat-item" id="like-<%= postDatas[i].poster_ID %>">
                              <i class="fa fa-thumbs-up icon"></i>
                          </a>

                          
                            <% } else{ %>
                             <a onclick="like('<%= postDatas[i].poster_ID %>')"
                              class="btn btn-default stat-item" id="like-<%= postDatas[i].poster_ID %>">
                              <i class="fa fa-thumbs-up icon"></i><%= postDatas[i].poster_like.length %>
                              </a>


                            <% } %>
                        
                        <% } %>
                        <a onclick="comment('<%= postDatas[i].poster_ID %>')" id="combut-<%= postDatas[i].poster_ID %>" class="btn btn-default stat-item">
                            <!-- <i class="fa fa-thumbs-down icon"></i>12 -->
                            <span class="glyphicon glyphicon-comment " ></span> Comment
                          
                            
                        </a>
                    </div>
                    <br>
                    <hr>
                      <div style="max-height: 300px;overflow-y: scroll;background-color: #f7f7f7;" id="comment-div-<%= postDatas[i].poster_ID %>">
                        <br>
                        <ul style="list-style: none;" id="comment-box-<%= postDatas[i].poster_ID %>" >

                          <% for(var x= postDatas[i].comments.length-1 ; x >= 0 ; x--) { %>
                          <li>
                            <p><a href=""><img src="<%= postDatas[i].comments[x].avatar %>"  height="40" width="40" class="img-circle" align="left">&nbsp&nbsp<%= postDatas[i].comments[x].firstname %> <%= postDatas[i].comments[x].lastname %></a>
                            <p>&nbsp&nbsp<%= postDatas[i].comments[x].comment %></p>
                            </p>
                          </li>
                          <br>
                          <% } %>
                          
                        </ul>
                        
                             
                      </div>
                   
                </div>

            </div>
        </div>

         <% } %>

           
           </div> <!-- END OF ALL POST -->
          

        </div><!-- END OF CENTER DIV -->


        <div class="col-sm-3" id="right">
          

           <div class="sidebar-nav-fixed pull-right affix" id="chat-container">
                <div class="well">
                  <p><center><h4><strong>CHAT</strong></h4></center></p>
                </div>

               


                <div class="chat" id="chats-online" >
                   <div class="chat-list" id="messages-chats" style="width: 230px;">

            
                    <ol class="list" id="all-friends" style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">

                      <% if(friends.length  == 0){ %>

                          <li style="clear: both;" >
                            <h2>NO <br> <br> FRIENDS   <br><br> YET !!</h2>
                          </li>

                      <% } else { %>

                            <% for(var i=0; i < friends.length ; i++) { %>
                                <li style="clear: both;" >
                                   <a  href="javascript:register_popup('<%= friends[i].firstname %>', '<%= friends[i].firstname %> <%= friends[i].lastname %>' ,'<%= friends[i].firstname %>' );">
                                  <img style="float: left;" src="<%= friends[i].avatar %>" alt="html cleaner" width="40" height="40" />&nbsp<%= friends[i].firstname %>
                                  <%= friends[i].lastname %>

                                  <p style="float: right;"><span class="dot" id="dot-<%= friends[i].firstname %>"><i class="fa fa-circle"  style=" font-size: 10px;"></i></span></p>
                                </a>
                                </li>
                      
                            <% } %>

                      <% } %>
   

                    </ol>
                    
                 
                 </div> 
              </div>



               <br>
              <br>

               <div class="well">
                <p><i class="fa fa-google"></i>&nbsp-Google.com</p> <!-- <i class="fa fa-circle" id="dots" style=" font-size: 10px;"></i> -->
              </div>
              <div class="well">
                <p><i class="fa fa-facebook"></i>&nbsp-Facebook.com </p>
              </div>


        </div><!-- END OF RIGHT DIV -->

        </div>






    </div> <!-- /container -->




<!--   ********* LIVE CHAT *********** -->


 


    


   
    
</body>
    <script src="bootstrapV3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrapV3.3.7/js/bootstrap.min.js"></script>
    <script src="bootstrapV3.3.7/toaster-js/toastr.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="bootstrapV3.3.7/my-js/home.js"></script>
    <script src="bootstrapV3.3.7/my-js/chat-extension.js"></script>
    <script src="bootstrapV3.3.7/my-js/chat.js"></script>
    
    <script src="bootstrapV3.3.7/my-js/update.js"></script>
    <script src="bootstrapV3.3.7/my-js/post.js"></script>
    <script src="bootstrapV3.3.7/my-js/like.js"></script>
    <script src="bootstrapV3.3.7/my-js/comment.js"></script>
    
    <script src="bootstrapV3.3.7/my-js/badge.js"></script>
     



</html>
