<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Fixed top navbar example for Bootstrap</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/myStyle.css" rel="stylesheet">
    <link href="navbar-top-fixed.css" rel="stylesheet">

  </head>
  <body>
   <!--  NAV BAR  -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- END OF NAV BAR -->


    <!-- BODY OF THE PAGE -->
    <div class="container">
       <div class="row">
        
          <div class="col-fixed-160">
            1 of 3  160
          </div>
          <div class="col-offset-400">
            1 of 3 400 sadf sadfa sdaf asf asf safsfsfsffas fsa fas fsafas fas f saf s fas f sf s fsfaf f asf sa fs f
          </div>
          <div class="col-fixed-240">
            1 of 3  240
          </div>

        <!-- <div class="col-fixed-160">Fixed 160px</div>
        <div class="col-md-9 col-offset-400">
            <div class="row">
              asdfasfsadfasdfasdfasdfsa sadfsa sadf sadf saddf asdf saddf saddf saddf sadf sadf sd fsd f
            </div>
        </div>
        <div class="col-fixed-240">Fixed 240px</div> -->
    </div>
    </div>
    <!-- END OF THE BODY OF THE PAGE -->


    <!-- CHAT BUTTON -->
    <div class="div-chat">
      <button type="button" class="btn btn-primary" id="chat-button" data-toggle="collapse" data-target="#demo">
          Chat <span class="badge badge-light">9</span>
          <span class="sr-only">unread messages</span>
        </button>
        <div class="collapse" id="demo">
          <ul class="list-group">
            <!-- <li class="list-group-item active">Cras justo odio</li> -->
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
    </div>
    <!-- END OF CHAT BUTTON -->


  </body>
  <script src="bootstrap/js/jquery-3.3.1.min.js"></script>
  <script src="bootstrap/js/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="bootstrap/js/holder.min.js"></script>
</html>
