<!DOCTYPE html>
<html lang="en">
<head>
	<title>Famchat Nav Bar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bootstrap/css1/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="bootstrap/css1/index3.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css1/myStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700"> -->


</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" >
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                  <a class="navbar-brand logo" href="/home">FamChat</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
                  <form action="/profile" method="GET" class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" placeholder="Search" name="user" class="input-search">
                    </div>
                    <button type="submit" class="btn btn-default btn-search"><i class="glyphicon glyphicon-search"></i></button>
                  </form>
                   <ul class="nav navbar-nav navbar-right">
                    <li class="dp-name"><a href="/profile?user=<%= username %>"><img src="<%= avatar%>" class="img-circle nav-dp"> <span><%= username%></span></a></li>
                     <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-user"></i><span>Friends</span></a></li>
                       <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-inbox"></i><span>Messages</span></a></li>
                         <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-globe"></i><span>Notifications</span></a></li>
                     
                    <li class="dropdown nav-icons">
                      <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i><i class="glyphicon glyphicon-chevron-down"></i><span>More</span></a>
                      <ul class="dropdown-menu   settings-drop">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Manage Pages</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li role="separator" class="divider">
                        </li>
                        <li><a href="/logout">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
        </nav>


        <div class="container" id="body">    
          <div class="row content" >
            <div class="col-sm-2" id="body-profile-content">
              <br>
              <div class="sidebar-nav-fixed affix">
                  <div class="card">
                     <p><a href="#"><img src="<%= avatar%>" width="50" height="50" class="img-circle dp-home"></a></p>
                      <p><%= username%></p>
                     <p>Edit Profile</p>
                     <p>View Friends</p>
                     <p>Photos</p>
                  </div>
              </div>

              <!-- <div class="media">
                <div class="media-left">
                  <img src="http://kherts-crud.000webhostapp.com/bootstrap/pictures/Picture1.png" class="media-object" style="width: 60px;">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Khert Geverola</h4>
                  <p>Edit Profile</p>
                </div>
              </div> -->

            </div>
            <div class="col-sm-7" id="body-post">
              <br>
              <div class="well">
               <!--  <form> -->
                  <div class="form-group">
                    <label for="input-post"> POST NOW !!</label>
                    <!-- <input type="text" name="post-description" class="form-control my-post" placeholder="What's on your brain?"> -->
                    <textarea id="text-post" placeholder="What's on your brain?" class="form-control"></textarea>
                    <br>
                    <button type="button" class="btn btn-primary pull-right" >POST</button>
                    <br>
                  </div>
        <!--         </form> -->
              </div>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
            </div>
            <div class="col-sm-3 " id="body-right-side">
              <br>
               <div class="sidebar-nav-fixed pull-right affix">
                  <div class="well">
                    <p><h4><strong> CHAT ONLINE:</strong></h4></p>
                  </div>

                  <div class="chat" id="chats-online">
                     <div class="chat-list" id="messages-chats">


                      <% for(var i=0; i < friends.length; i++) { %>
                         <div class="chat-message clearfix" id="<%= friends[i].name %>" onclick="chat(this)">
                            <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
                            <div class="chat-message-content clearfix">
                                <span class="chat-time"><i class="fa fa-circle"  style=" font-size: 10px;"></i></span>
                                <h5><%= friends[i].name %></h5>
                            </div> 
                          </div> 
                      <% } %>
                    
                 
                 </div> 
              </div>



               <br>
              <br>

              <div class="well">
                <p><i class="fa fa-google"></i>&nbsp-Google.com</p> <!-- <i class="fa fa-circle" id="dots" style=" font-size: 10px;"></i> -->
              </div>
              <div class="well">
                <p><i class="fa fa-facebook"></i>&nbsp-Facebook.com </p>
              </div>
              
            </div>

             
             <!--  <div class="well">
                <p><i class="fa fa-twitter"></i>&nbsp-Twitter.com</p>
              </div> -->
            </div>
          </div>
        </div>

       <!--  <footer class="container-fluid text-center">
          <p>Footer Text</p>
        </footer>
 -->





      <!-- ===================================another CHAT -->


      <div id="live-chat">
        
        <header class="clearfix" id="header" onclick="count()" >
       <!--   <header class="clearfix" > -->
            <a href="#" class="chat-close">x</a>

            <!-- <h4 id="chat-name">Chat Hangouts </h4> -->
            <!-- <span id="user-name">Khert</span> -->
            <p id="user-name">Khert</p>

            <!-- <span class="chat-message-counter" id="counter">0</span> -->
        </header>
       <div class="chat" id="chats" >          
            <div class="chat-history" id="messages">
                
              <!--   <div class="chat-message clearfix">
                    
                    <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

                    <div class="chat-message-content clearfix">
                        
                        <span class="chat-time">13:35</span>

                        <h5>John Doe</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>

                    </div>

                </div>  -->

                <hr>

           <!--      <div class="chat-message clearfix">
                    
                    <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">

                    <div class="chat-message-content clearfix">
                        
                        <span class="chat-time">13:37</span>

                        <h5>Marco Biedermann</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>

                    </div> 

                </div> 
 -->
                <hr>
                <div class="chat-message clearfix">
                    <div class="chat-message-content clearfix">
                        <span class="chat-time">99:99</span>
                        <h5>Drone Admin</h5>
                        <p>Welcome !!!</p>
                    </div> 
                </div> 

                <hr>

            </div> <!-- end chat-history -->

           <!--  <p class="chat-feedback">Your partner is typing…</p> -->


           <!-- <form action="" >
           <div class="form-group">
         <input type="text" autofocus id="m" class="form-control" id="formGroupExampleInput" placeholder="Send text message…">
       </div>
      </form>
 -->
            <form action="" name="myForm">

                <fieldset>
                    
                    <input type="text" placeholder="Type your message…" autocomplete="off" name="mess" id="mess">
                    <input type="hidden">

                </fieldset>

            </form>

        </div> <!-- end chat -->

    </div> <!-- end live-chat -->




    <!-- END OF ANOTHER CHAT -->






     
</body>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/holder.min.js"></script>
<script src="bootstrap/js/myScript.js"></script>
</html>