<!DOCTYPE html>
<html lang="en">
<head>
	<title>Famchat Nav Bar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bootstrap/css1/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="bootstrap/css1/index3.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css1/myStyle.css">
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->


</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" >
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                  <a class="navbar-brand logo" href="/home">FamChat</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
                  <form action="/profile" method="GET" class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" placeholder="Search" 
                      class="input-search">
                    </div>
                    <button type="submit" class="btn btn-default btn-search"><i class="glyphicon glyphicon-search"></i></button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dp-name"><a href="/profile"><img src="<%= avatar%>" class="img-circle nav-dp"> <span><%= username%></span></a></li>
                     <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-user"></i><span>Friends</span></a></li>
                       <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-inbox"></i><span>Messages</span></a></li>
                         <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-globe"></i><span>Notifications</span></a></li>

                     
                    <li class="dropdown nav-icons">
                      <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i><i class="glyphicon glyphicon-chevron-down"></i><span>More</span></a>
                      <ul class="dropdown-menu   settings-drop">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Manage Pages</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li role="separator" class="divider">
                        </li>
                        <li><a type="button" href="/logout">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
        </nav>


        <div class="container" id="body">    
          <div class="row content" >
            <div class="col-sm-2" id="body-profile-content">
              <br>
              <div class="card">
                 <p><a href="#"><img src="<%= avatar%>" width="50" height="50" class="img-circle dp-home"></a></p>
                 <p><%= username%></p>
                 <p>Edit Profile</p>
                 <p>Photos</p>
              </div>

              <!-- <div class="media">
                <div class="media-left">
                  <img src="http://kherts-crud.000webhostapp.com/bootstrap/pictures/Picture1.png" class="media-object" style="width: 60px;">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Khert Geverola</h4>
                  <p>Edit Profile</p>
                </div>
              </div> -->

            </div>
            <div class="col-sm-7" id="body-post">
              <br>
              <div class="well">
               <!--  <form> -->
                  <div class="form-group">
                    <label for="input-post"> POST NOW !!</label>
                    <!-- <input type="text" name="post-description" class="form-control my-post" placeholder="What's on your brain?"> -->
                    <textarea id="text-post" placeholder="What's on your brain?" class="form-control"></textarea>
                    <br>
                    <button type="button" class="btn btn-primary pull-right" >POST</button>
                    <br>
                  </div>
        <!--         </form> -->
              </div>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
              <h1>Welcome</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <hr>
              <h3>Test</h3>
              <p>Lorem ipsum...</p>
            </div>
            <div class="col-sm-3" id="body-right-side">
              <br>
              <div class="well">
                <p><h4><strong> SPONSORED BY:</strong></h4></p>
              </div>
              <div class="well">
                <p><i class="fa fa-google"></i>&nbsp-Google.com</p>
              </div>
              <div class="well">
                <p><i class="fa fa-facebook"></i>&nbsp-Facebook.com </p>
              </div>
              <div class="well">
                <p><i class="fa fa-twitter"></i>&nbsp-Twitter.com</p>
              </div>
            </div>
          </div>
        </div>

       <!--  <footer class="container-fluid text-center">
          <p>Footer Text</p>
        </footer>
 -->


      <!--   CHAT BOX -->
      <div class="chat-online">

        <button type="button" id="chat-button" class="btn btn-primary" data-toggle="collapse" data-target="#chat-list">Chat 100</button>
        <div id="chat-list" class="collapse">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>

      </div><!--  END CHAT BOX -->
</body>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/holder.min.js"></script>
</html>