<!DOCTYPE html>
<html lang="en">
<head>
	<title>Famchat Nav Bar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bootstrap/css1/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="bootstrap/css1/index3.css">
</head>
<body>
  <br>
  <br>
  <br>
  <br>
	<nav class="navbar navbar-default navbar-fixed-top" >
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                  <a class="navbar-brand logo" href="#">FamChat</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
                  <form class="navbar-form navbar-right" action="/login" method="POST">
                    <div class="form-group">
                      <input type="text" name="username" class="form-control" placeholder="Username">&nbsp&nbsp&nbsp&nbsp
                      <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    &nbsp&nbsp
                    <input type="submit" name="" class="btn btn-primary" value="Login">
                  </form>

                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
        </nav>
	<div class="container">
      <article class="container">
        <div class="row">

          
           <div class="alert alert-danger">
              <strong><%= status %></strong> <%= message %>
            </div>
          <% } %>
          <div class="col-sm-8">
            <br>
            <br>
            <br>
            <br>

            <div class="login-main">
              <h4><i class="fa fa-dashboard"></i> Gorgeous color and design</h4>
              <span>Some sample description text about the template goes here</span>

              <h4> <i class="fa fa-money"></i> 100%  fully responsive </h4>
              <span>Another description text about the template goes here</span>

              <h4><i class="fa fa-mobile-phone"></i> Competible with all browers and mobile devices</h4>
              <span>Yet another sample description text can be placed in one line</span>

              <h4> <i class="fa fa-trophy"></i> Easy to use and custmize with mobile friendly and responsive</h4>
              <span>Your last description text about your startup or business</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="">
              <form  action="/register" method="POST">
            
            <h3><i class="fa fa-shield"></i> Register now !!!</h3>
              <hr>
            <div class="form-group">
              <label class="control-label" for="">Username</label>
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>

            <div class="form-group">
              <label class="control-label" for="">Email Address</label>
              <input type="text" class="form-control" placeholder="Email Address" name="email">
            </div>

            <div class="form-group">
              <label class="control-label" for="">Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password">
            </div>

            <div class="form-group">
              <label class="control-label" for="">Repeat Password</label>
              <input type="password" class="form-control" placeholder="Repeat Password">
            </div>

            <div class="">
              <label>Birthday</label>
              <div class="form-group">
                <div class="col-sm-4 multibox">
                <select class="form-control">
                  <option>Day</option>
                </select>
                </div>
                 <div class="col-sm-4 multibox">
                <select class="form-control">
                  <option>Month</option>
                </select>
                </div>
                 <div class="col-sm-4 multibox">
                <select class="form-control">
                  <option>Year</option>
                </select>
                </div>
               
              </div>
            </div>
              
            <small>
              By clicking Sign Up, you agree to our Terms and that you have read our
               Data Use Policy, including our Cookie Use.
            </small>   
            <div style="height:10px;"></div>
            <div class="form-group">
              <label class="control-label" for=""></label>
              <input type="submit" class="btn btn-primary">
            </div>   

            </form>
              </div>
          </div>
          </div>
        </div>
    </article>
    <!-- <footer class="container">
    <hr>
    <div class="footer-options">
    <ul >
      <li><a href="#">Mobile</li>
      <li><a href="#">Find Friends</li>
      <li><a href="#">Badges</li>
      <li><a href="#">People</li>
      <li><a href="#">Pages</li>
      <li><a href="#">Places</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">Locations</a></li>
      <li><a href="#">About</a></li>
    </ul>
    </div>
    <div style="clear:both"></div>
    <small class="copyrights"> © Copyrights reserved  2014</small>
    </footer> -->
    
	</div>
  
</body>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/holder.min.js"></script>
</html>