<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/index1.css">
       <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/holder.min.js"></script>
</head>
<body>
<!-- 
	<nav class="navbar navbar-dark bg-dark box-shadow">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Search">
     <input class="form-control mr-sm-2" type="Password" placeholder="Password" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
  </form>
</nav> -->
	 <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg width="60" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg><strong>FamChat</strong>&nbsp;
                   
          </a>

          <form class="form-inline" action="/login" method="POST">
		    <input id = "log" name="username" class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Search">
		    <input id = "log"  name="password" class="form-control mr-sm-2" type="Password" placeholder="Password" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
		  </form>

          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
           <!--  <span class="navbar-toggler-icon"></span> -->
        <!--   </button> -->
        </div>
      </div> 
      <!-- Body Sign up -->
      <div class="container">
      	 <div class="row">
 	 		<div class="col-sm-6"></div>
 			 <div class="col-sm-6">
 			 	<br><br><br>
 			 	<h1>Sign up</h1>
 			 	<h2>It's free and anyone can join</h2>
 			 	<div class="container">
 
    
          <form class="form-horizontal" action="/register" method="POST">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input type="email" id="email" name="email" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Please provide your E-mail</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password_confirm">Password (Confirm)</label>
              <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Please confirm password</p>
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Register</button>
              </div>
            </div>
          </fieldset>
        </form>
    
  
				</div>
			</div>
 			 
 			 </div>
		</div>


      </div>
     


     <div>
       
       <form action="/updateUser" method="POST">
            <input id="inputFileToLoad" type="file" name="image"  />
            <input type="submit" name="submit" id="submit" onclick="encodeImageFileAsURL();">
       </form>
     </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io();

// onclick="encodeImageFileAsURL();"

  function encodeImageFileAsURL() {

    var filesSelected = document.getElementById("inputFileToLoad").files;
    if (filesSelected.length > 0) {
      var fileToLoad = filesSelected[0];

      var fileReader = new FileReader();

      fileReader.onload = function(fileLoadedEvent) {
        var srcData = fileLoadedEvent.target.result; // <--- data: base64
        console.log(srcData);
        socket.emit('getData',{message:srcData});
      }
      fileReader.readAsDataURL(fileToLoad);
    }
  }


</script>
</html>