
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Social Network App">
    <meta name="author" content="Khert Geverola">

    <title>Home</title>


    <link href="bootstrapV3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/my-css/nav-bar.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/my-css/login.css" rel="stylesheet">
    <link href="bootstrapV3.3.7/toaster-css/toastr.css" rel="stylesheet">


    
    
  </head>

  <body>

    <!-- Fixed navbar -->

    <nav class="navbar navbar-default navbar-fixed-top" id="myNavBar">
      <div class="container" id="nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#show" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: white;">Famchat</a>
        </div>

        

        <div class="navbar-collapse collapse" id="show">
          

          <ul class="nav navbar-nav navbar-right">

            <li>
              <form action="/login" method="POST">
                 <div class="navbar-form">
                    <input class="form-control" name="username" placeholder="Username"  name="srch-term" type="text" style="margin-right: 20px;">
                    <input class="form-control" name="password" placeholder="Password"  name="srch-term"  type="password" style="margin-right: 20px;">
                    <input class="form-control onme" value="Login" style="background-color: #808080;color: white;font-weight:bold;margin-right: 20px;"  name="srch-term"  type="submit" id="login-submit">
                </div>
              </form>
            </li>
           

           
           

          </ul>
        </div><!--/.nav-collapse -->
      </div>
      
    </nav>

    
    <div class="container" id="body">
      <div class="row">
        <div class="col-sm-6">

          <div class="jumbotron">
            <h1>Social Network</h1>
            <h4 style="color: gray;">Application for Web Dev</h4>
            <hr>
            <p>This is an example of social network application using html , css , javascript , node and mongodb. I know that you're thinking that we plagiarized facebook but this application is for project purposes. Not for deployment.</p>
            <p>To see the functionalities of this application , just sign up and try.</p>
          </div>
          
        </div>

        <div class="col-sm-6">
                     <div class="">
                        <form  action="/register" method="POST">
                      
                            <h1>Create an Account</h1>
                            <hr>
                            <div class="form-group">
                               <div class="row">
                                  <div class="col-sm-6"> <input type="text" id="firstname" class="form-control" placeholder="Firstname" name="firstname" required></div>
                                  <div class="col-sm-6"><input type="text" id="lastname" class="form-control" placeholder="Lastname" name="lastname" required></div>           
                                </div>
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                            </div>
                            <div class="form-group">
                              <input type="password" class="form-control" id="password" placeholder="Password" name="password" onkeyup="validate2()" required>
                            </div>
                            <div class="form-group">
                              <input type="password" class="form-control" id="pre-password" onkeyup="validate(event)"  placeholder="Repeat Password" name="password2" required>
                              <span id="match"></span>
                            </div>

                            <div class="form-group">
                              <h4>Gender</h4>
                              <div class="form-group">
                                <label class="radio-inline">
                                  <input type="radio" name="gender" id="male" value="male" required>Male
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="gender" id="female" value="female">Female
                                </label>
                               
                              </div>
                            </div>

                              
                            <small>
                              By clicking Sign Up, you agree to our Terms and that you have read our
                               Data Use Policy, including our Cookie Use.
                            </small>   
                            <div style="height:10px;"></div>
                            <div class="form-group">
                              <label class="control-label" for=""></label>
                              <input type="submit" class="btn btn-success" style="width: 150px;" id="submit" >
                            </div>   
                            
                      </form>
                  </div>
          
        </div>
      </div>
      <hr>
      <footer>
        <small class="copyrights"> © Copyrights reserved  2018 KG-Company, Inc.</small>
      </footer>


    </div> <!-- /container -->
    

    <hr>

      
    
</body>
    <script src="bootstrapV3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrapV3.3.7/js/bootstrap.min.js"></script>
    <script src="bootstrapV3.3.7/toaster-js/toastr.js"></script>
     <script src="bootstrapV3.3.7/my-js/validation.js"></script>
    <% if(status == 'Error!'){ %>
      <script type="text/javascript">
      toastr.options = {
        "debug": false,
        "positionClass": "toast-bottom-right",
        "onclick": null,
        "fadeIn": 300,
        "fadeOut": 1000,
        "timeOut": 5000,
        "extendedTimeOut": 1000
      }
     
      toastr.error('Username or Password is Invalid !!','ERROR !');
    </script>



    <%}%>
    

    
</html>
