<!DOCTYPE html>
<html lang="en">
<head>
  <title>Famchat Nav Bar</title>
<!--   <meta http-equiv="refresh" content="2" > -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css1/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="bootstrap/css1/index3.css">
  <link rel="stylesheet" type="text/css" href="bootstrap/css1/setPicStyle.css">
</head>


<body>
  <nav class="navbar navbar-default navbar-fixed-top" >
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                  <a class="navbar-brand logo" href="#">FamChat</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" placeholder="Search" 
                      class="input-search">
                    </div>
                    <button type="submit" class="btn btn-default btn-search"><i class="glyphicon glyphicon-search"></i></button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dp-name"><a href="#"><img src="https://openclipart.org/image/90px/svg_to_png/247324/abstract-user-flat-1.png"  class="img-circle nav-dp"> <span id="name"><%= name%></span></a></li>
                     <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-user"></i><span>Friends</span></a></li>
                       <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-inbox"></i><span>Messages</span></a></li>
                         <li class="nav-icons"><a href="#"><i class="glyphicon glyphicon-globe"></i><span>Notifications</span></a></li>

                     
                    <li class="dropdown nav-icons">
                      <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i><i class="glyphicon glyphicon-chevron-down"></i><span>More</span></a>
                      <ul class="dropdown-menu   settings-drop">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Manage Pages</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li role="separator" class="divider">
                        </li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
        </nav>
  <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
         
   
        <div class="row featurette">
          <div class="col-md-7 order-md-2" id="myDiv">
            <h2 class="featurette-heading"> Set up your profile Picture </h2>
            <p class="lead">Welcome dear users, please setup your profile picture after you use your account. Setting up your profile picture is a good way of identifying who you are. After you've done this, you're profile is 100% done.  </p>
            <br>
             <center>
              <input type="submit" name="" onclick="send(this)" value="Submit" class="btn btn-success btn-lg">
              <input type="submit" name="" onclick="send(this)" value="Skip >>" class="btn btn-primary btn-lg">
              <!-- <p> &nbsp&nbsp<a class="btn btn-primary btn-lg" href="#" role="button">Skip >></a></p> -->
            </center>
            <br>
            
          </div>
          <div class="col-md-5 order-md-1">
            <div class="img-wrapper">
          <center>
                <img class="img-responsive" id="blah" src="http://placehold.it/200X200" height="200" width="200">
             <div class="img-overlay">
                 <label class="btn btn-danger btn-file">
                    Browse <input type="file" id="input-button" style="display: none;" onchange="readURL(this);">
                </label>
             </div>
             </center>
        </div>
          </div>
        </div>

        <br>
       
         

  </div>
</body>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/holder.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io();
  var imgData = '';
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                var img = document.getElementById('blah');
                
                reader.onload = function (e) {
                    img.src = e.target.result;
                    imgData = e.target.result;
                    var name = document.getElementById('name').innerText;
                    document.getElementById('myInput').value = name;
                  
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
         function send(data){
          if(data.value == 'Submit'){
            if(imgData == '' || imgData == null){
                alert('PLEASE SELECT A PICTURE!');
            }else{
                var name = document.getElementById('name').innerText;
                var con = document.getElementById('myDiv');

                var htmlString = '<div class="progress">'+
                                  '<div class="progress-bar" id="myBar" role="progressbar" aria-valuenow="60" '+
                                  'aria-valuemin="0" aria-valuemax="100" style="width: 5%;">'+
                                            '5%'+
                                  '</div>'+
                                  '</div>';
                con.insertAdjacentHTML('beforeend',htmlString);
                var num = 5;

                var myVar = setInterval(function(){loading()},500);
                socket.emit('getBase64',{name:name,data:imgData});

                socket.on('response',function(data){
                    if(data.msg){
                      document.getElementById('myBar').setAttribute("style","width:"+100+"%");
                      document.getElementById('myBar').innerHTML = 100+'%';
                      clear();
                    }
                });

                function loading(){
                    document.getElementById('myBar').setAttribute("style","width:"+num+"%");
                    document.getElementById('myBar').innerHTML = num+'%';

                    if(num == 100){
                      clear();
                    }
                    num += 5;

                }
                function clear(){
                  clearInterval(myVar);
                  window.location.href = "/home";
                }
                

               //window.location.replace(window.location.href+ '/home');
               // socket.emit('getData',{message:imgData,name:name});
            }

          }else{
             console.log('NO IMAGE SELECTED YOU PRESS SKIP');

          }
            
             
             
           
         }
</script>
</html>