<!DOCTYPE html>
<html>
<head>
	<title>SET</title>
</head>
<style type="text/css">
	img{
	  max-width:180px;
	}
	input[type=file]{
	padding:10px;
	background:#2d2d2d;}
</style>
<body>
    <h1>WELCOME  <strong><span id="name"><%= name%></span></strong></h1>
    <h3>set up your profile picture</h3>
    <img id="blah" src="http://placehold.it/180" alt="your image" /><br>
    <form action="/home" method="POST">
        <input type='file' onchange="readURL(this);" />
        <input type="hidden" id="myInput" name="username">
        <input type="submit" name="" onclick="send()">
    </form>
    
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var socket = io();
	var imgData = '';
	  function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                var img = document.getElementById('blah');
                
                reader.onload = function (e) {
                    img.src = e.target.result;
                    imgData = e.target.result;
                    var name = document.getElementById('name').innerText;
                    document.getElementById('myInput').value = name;
                  
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
         function send(){
            if(imgData == '' || imgData == null){
                alert('PLEASE SELECT A PICTURE!');
            }else{
                var name = document.getElementById('name').innerText;
                console.log(name.innerText);
                socket.emit('getData',{message:imgData,name:name});
            }
             
             
         	 
         }
</script>
</html>