/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


    /*MANUALLY ADDED CSS STYLE*/

    #body{
      margin-top: 66px;
    }
    #body-post{
/*      margin-left: 213px;*/
       /*background-color: green;*/
        /*z-index:-1;*/

    }
    #body-profile-content{
        margin: 0 auto;
       /* width:200px;*/
        /*background:blue;*/
/*        position:fixed;*/
       /* height:100%;
        z-index:1;*/
    }
    #body-right-side{

       /*margin-left: 65%;*/
        /*width:260px;*/
        /*background:red;*/
        /*position:fixed;*/
        /*z-index:-1;
        height:100%;*/
    }
    .chat-online{
      z-index: 1;
      position: fixed;
      bottom: -4px;
      right: 35px;
    }
    #chat-button{
      width: 280px;
    }
    #chat-list{
     /* min-height: 300px;*/
      background-color: white;
    }
    #name-edit{
      font-size: 10px;
    }
    #name-edit-column{
      /*margin-left: 0%;*/
    }
    #right-image-profile{
      vertical-align: middle;
    }
    .dp-home{
      vertical-align: middle;
    }
    .card{
      margin: auto;
      text-align: left;
    }
    .my-post{
      height: 100px;
    }
    #text-post{
      height: 80px;
      overflow: hidden;
      resize: none;
    }

    /*END OF MANUALLY ADDED CSS STYLE*/


    .chat-content{
      z-index: 1;
      position: fixed;
      bottom: -4px;
      right: 320px;
    }
    #chat-list-contain{
      height: 200px;
      overflow: auto;
    }













a { text-decoration: none; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

h4, h5 {
    line-height: 1.5em;
    margin: 0;
}

hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

/*img {
    border: 0;
    display: block;
    height: auto;
    max-width: 400%;
}*/

input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both;}


#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 380px;
    position: fixed;
    width: 300px;
}

#live-chat header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    font-size: 12px;
}

#live-chat h5 {
    font-size: 10px;
}

#live-chat form {
    padding: 24px;
}

#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 250px;
}

.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat {
    background: #fff;
}

.chat-history {
    height: 200px;
    padding: 8px 20px;
    overflow-y: scroll;
}

.chat-message {
    margin: 16px 0;
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat-message-content {
    margin-left: 56px;
}

.chat-time {
    float: right;
    font-size: 10px;
}

.chat-feedback {
    font-style: italic; 
    margin: 0 0 0 80px;
}
#m{
  width: 500%;
}
#messages{
  overflow-x: hidden;
  overflow-y: scroll;
}


/*#live-chat-2 {
    bottom: 0;
    font-size: 12px;
    right: 1000px;
    position: fixed;
    width: 300px;
}*/

#dots-green{
  color: green;
}

#dots-gray{
  color: green;
}

#messages-chat{
  height: 300px;
}

.chat-list {
    height: 300px;
    padding: 8px 20px;
    overflow-y: scroll;
}
#chats-online{
  background: #dfe3ee;
  border-radius: 10px;
}



#live-chat{
  visibility: hidden;
}

.sidebar-nav-fixed {
  width:14%;
}