.navbar{
	background: #3b5998 !important;
	height: 66px  !important;
	padding-top: 2px !important;
	border-bottom: 1.3px solid #333;
}


#bs-example-navbar-collapse-1{
	background: #3b5998 !important;
}
.navbar a {
 color: #fff !important;
}

.btn-search{
	margin-left: -2em;


}

.input-search{
	width: 520px !important;
	height: 34px;
	margin-left: -2.2rem !important;
	font-weight: 350 !important;
	color: #333;
}
.settings-drop li a {
	color: #000 !important;
	font-weight: bold;

}
.nav-icons a{
	color: #17233d !important;
}
.nav-icons span{
	display: none;
}
.logo{
	margin-top: -1px !important;
}
.nav-dp{
	width: 32px; 
	border: 1px solid #333;
}
.dp-name{
	margin-top: -5px !important;
}
.dp-name span{
	font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1320px){
	.input-search{
	width: 240px !important;
	}


}
@media screen and (min-width: 200px) and (max-width: 768px){
	

	.navbar .navbar-left {
		display: none !important;
	}
	.nav-icons span{
		display: inline;
		color: #eee;
		font-weight: bold;
	}
	.settings-drop li a {
	color: #eee !important;
	}
	#profile img{

		width: 120px !important;
		height: 120px !important;
	}

}
#cover{
	max-width: 120%;
	min-width: 1200px;
	min-height: 100px;
	max-height: 100%;
}
#cover img{
	height: 450px;
/*	margin-left: 20%;*/

/*	width: 100%;*/


}
#profile img{
	border:solid 1px;
	margin-left: 350px;
	margin-top: -100px;
	display: inline-block;
	width: 140px ;
	height: 140px ;
	background-color: white;
	border-radius: 5px;
	
}
body{
	padding: 0;
	margin: 0;
	background-color:  #e9ebee !important;
}
.timeline-nav{
	background: #fff !important;
	margin-top: -2.85em;
	padding: 2rem;
	max-width: 120%;
	min-width: 1200px;
	min-height: 100px;
	max-height: 100%;
}
.timeline-nav .nav{
	margin-left: 42%;

	
}
#content{
	max-width: 120%;
	min-width: 1200px;
	min-height: 100px;
	max-height: 100%;
}


/*.sidecol {
    position: fixed;
}

.center {
    height:20000px;
    border: solid 2px;
}*/
/*.content{
	max-width: 120%;
	min-width: 1200px;
	min-height: 100px;
	max-height: 100%;

}*/
#upload{
	margin-left: -220px;
	margin-top: 20px;
}


 #body-post{
      margin-left: 213px;
     /*  background-color: green;*/
        z-index:0;
    }
    #body-profile-content{
		margin-top: -500px;
        width:200px;
  /*      background:blue;*/
        position:fixed;
        height:100%;
        z-index:-1;
    }
    #body-right-side{
    	margin-top: -500px;
       margin-left:910px;
        width:260px;
     /*   background:red;*/
        position:fixed;
        height:100%;
        z-index:-1;
    }