#pic img{
	width: 120px;
	height: 120px;
	border-radius: 20px;
	padding: 5px;

}
#body{
	margin-top: 100px;
	display: none;
	color: black;
}
#user{
	width: 180px;
	height: 120px;
	border-radius: 20px;
}